* {  
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: #1f1235;
}

html {
    background-color: #FFFAFA;
}

#flask-icon {
    position: absolute;
    top: 13.5%;
    right: 15%;
    width: 135%;
    height: 135%;
}

#bubble-1 {
    animation: bubble-up-1 3s infinite cubic-bezier(0,0,.37,1.01);
}

#bubble-2 {
    animation: bubble-up-2 2s infinite ease-out;
}

#bubble-3 {
    animation: bubble-up-3 4s infinite ease-in-out;
}

@keyframes bubble-up-1 {
    from {
        transform: translateY(10%);
        opacity: 0;
    }

    to {
        transform: translateY(-5%);
        opacity: 1;
    }
}

@keyframes bubble-up-2 {
    from {
        transform: translateY(4%);
        opacity: 0;
    }

    to {
        transform: translateY(-10%);
        opacity: 1;
    }
}

@keyframes bubble-up-3 {
    from {
        transform: translateY(7%);
        opacity: 0;
    }

    to {
        transform: translateY(-4%);
        opacity: 1;
    }
}

@keyframes invalid-input {
    20% {transform: translateX(3px)}
    60% {transform: translateX(-5px)}
    75% {tranform: translateX(3px)}
    100% {transform: translateX(0px)}
}

#flask-setup-svg {
    position: absolute;
    top: 37.5%;
    right: -22%;
    width: 80%;
    height: 80%;  
}

#drop {
    animation: dropAnim 1s infinite cubic-bezier(.63,.02,.85,.18);
}

@keyframes dropAnim {
    from {transform: translateY(-2px)}
    to {transform: translateY(55px)}
}

.title {
    padding: 1em;
    font-size: 1.2rem;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    outline: solid 2px #1f1235;
    background-color: #e2daeb;
    width: clamp(450px, 50%, 700px);
    padding: 4rem 1rem;
    padding-bottom: 3rem;
    border-radius: 25px;
    position: relative;
    box-shadow: 6px 10px black;
}

.text-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1.5rem;
}

.length-container {
    z-index: 98;
}

.length-submit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.length-text {
    padding-right: 0.6rem;
    font-weight: 500;
    font-size: 1.15rem;
}

#length {
    border: 1.8px solid #1f1235; 
    width: 3em;
    height: 2em;
    font-size: 1.1rem;
    border-radius: 8px;
    text-align: center;
    background-color: #f4effc;
    box-shadow: 2px 2px gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.compound-input {
    background-color: #f4effc;
    box-shadow: 2px 2px gray;
    z-index: 99;
    border: 1.8px solid #1f1235; 
    font-size: 1.1rem;
    width: 8em;
    height: 2em;
    padding-left: 0.5em;
    border-radius: 8px;
}

.autocomplete {
    position: relative;
}

.autocomplete-div {
    z-index: 99;
    position: absolute;
    outline: solid 1px black;
    width: 100%;
}

.autocomplete-item {
    background-color: #f4effc;
    outline: solid 1px black;
    cursor: pointer;
    padding: 0.6em;
    transition: 0.3s;
}

.autocomplete-item:hover {
    background-color: #e2daeb;
}
#submit-button {
    z-index: 98;
    background-color: #ff6e6c;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5em;
    border-radius: 4px;
    border: 0;
    transition: 0.35s;    
}

#submit-button:hover {
    transform: translateY(-5%);
    box-shadow: 1px 2px gray;
    cursor: pointer;
}


#output-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output {
    font-size: 1.1rem;
    text-align: center;
}

.pathway {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

.reaction-container {
    align-items: center;
    outline: solid 2px #1f1235;
    border-radius: 8px;
    padding: 1em;
    padding-bottom: 0.7em;
    margin-bottom: 1em;
    width: clamp(450px, 50%, 700px);
}

.reaction-container-header {
    display: flex;
    justify-content: space-between  ;
    align-items: center;
}

.expand-button {
    font-size: .8rem;
    padding: .2rem;
}

.reaction-detail {
    text-align: left;
    font-size: 1rem;
}

.step-subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 1em;
}

.pathway {
    flex-grow: 1;
    text-align: center;
}

.svg-container {
    margin-left: 0px; 
  }

.svg-container:hover {
cursor: pointer;
}

.svg-container.close {
transform: rotate(0deg);
transition: transform .2s ease-out;
}

.svg-container.open {
transform: rotate(180deg);
transition: transform .2s ease-out;
}

@media (max-width: 512px) {
    
    .main-container {
        padding: 2rem 0.5rem;
        width: 360px;
        box-shadow: none;
    }

    .autocomplete-item {
        padding: 1em;
    }

    .text-input-container {
        flex-direction: column;
        gap: 35px;
    }

    .compound-input {
        padding: 1em 2em;
        font-size: 1.3rem;
    }

    #length {
        font-size: 1.3rem;
    }

    .length-text {
        font-size: 1.35rem; 
    }

    #submit-button {
        font-size: 1.3rem;
        padding: 1em;
    }

    .reaction-container {
        width: 360px;
    }

    #flask-icon {
        top: 50.5%;
        right: 40%;
        width: 80%;
        height: 80%;
    }

    #flask-setup-svg {
        top: 67%;
        left: 58%;
        width: 45%;
        height: 45%;
    }
}

@media (max-width: 400px) {
    .main-container {
        width: 320px;
    }

    .reaction-container {
        width: 320px;
    }
}