* {  
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.title {
    padding: 1em;
    font-size: 1.2rem;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    position: relative;
    outline: solid 2px black;
    width: clamp(450px, 50%, 700px);
    padding: 4rem 1rem;
    padding-bottom: 3rem;
    border-radius: 25px;
}

.text-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1.5rem;
}

.length-submit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.length-text {
    padding-right: 0.6rem;
    font-weight: 500;
    font-size: 1.15rem;
}

#length {
    width: 3em;
    height: 2em;
    font-size: 1.1rem;
    border-radius: 8px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.compound-input {
    font-size: 1.1rem;
    width: 8em;
    height: 2em;
    padding-left: 0.5em;
    border-radius: 8px;
}

#submit {
    font-size: 1.1rem;
    padding: 0.2em;
}


